input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding-bottom: 35px;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 50vw;
}
footer{
  position: fixed;
  color:#ECF0F1;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
.bg-dark{
  background-color: #2B2B28 !important;
}
div.logo{
  background-image: url("../img/adsumus-logo.png");
  height: 55px;
  width: 150px;
  margin-right: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 576px){
  div.logo{
    width: 100px;
  }
  footer>div{
    font-size: 12px;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div#table_wrapper>div.row{
  width: 100%;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

a:active, a:hover {
    outline: 0;
}
nav.bg-dark{
  background-color: #2B2B28 !important;
}

/* button#tamañoA.btn{
  width: 30%;
}
button#tamañoB.btn{
  width: 30%;
} */
button#tamañoB.btn-warning{
  background-color: #f15a22 !important;
  border-color: #f15a22 !important;
}
button.btn-primary{
  background-color: #f15a22 !important;
  border-color: #f15a22 !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

 /* Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

a.ninguna{
  text-decoration: none!important;
  color: #fff;
}
a.ninguna>button{
  text-decoration: none!important;
  color: #fff;
}

.btn-warning{
  background-color: #f15a22 !important;
  border-color: #f15a22 !important;
}

table#tabla_Servicios{
  border-spacing: 2em;
}
table#tabla_Servicios tbody tr{
  cursor: pointer;
  text-align: center;
}
table#tabla_Servicios th{
  text-align: center;
}
table#tabla_Servicios a{
  text-decoration: none;
  color : inherit;
}
.info{
  display: flex;
}
a{
  color: #2b2b28;
  text-decoration: none;
}
a:hover{
  color: #000;
  text-decoration: none;
}
a:visited{
  color: #2b2b28;
}
a:active{
  color: #2b2b28;
}
/* Estilos para scroll hasta arriba */
.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 5%;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
}

.back-to-top i {
  font-size: 50px;
  color: #F15A22;
}


table#tabla_servicios{
  text-align: center;
  text-decoration: none;
}

table#table{
  text-align: center;
  text-decoration: none;
}

div.centrado>.form-inline{
  justify-content: center;
}

div.table-responsive>div#resultados{
  text-align: center;
}
.table th.social{
  vertical-align: middle;

}

div.table-responsive>div.dataTables_wrapper>div.row{
    width: 100% !important;
}

td.details-control {
	background: url('../img/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../img/details_close.png') no-repeat center center;
}

  
